.popup__button{
    background: #000000;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-top: 15.7%;
    margin-bottom: 11.75%;
}

.popup__button:hover{
    background: rgba(0, 0, 0, 0.8);
}