.profile__image-container{
    display: flex;
    width: 13.8%;
    min-height: 128px;
    overflow: hidden;
    border-radius: 50%;
}

.profile__image{
    margin: auto;
    width: 100%;
    height: 100%;
}