.images-popup-hidden{
    width: fit-content;
    height: auto;
    max-width: 75vw;
    max-height: 75vh;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    visibility: hidden;
    opacity: 0;
    transition: all linear .5s;
}

.images-popup{
    visibility: visible;
    opacity: 1;
    transition: all linear .5s;
}