.overlay{
    width: 100vw;
    height: 100vh;
    background: #000000;
    position: absolute;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: all linear .5s;
}

.overlay-visible{
    visibility: visible;
    opacity: .5;
    transition: all linear .5s;
}