.footer__text{
    margin: auto;
    width: 68.8%;
    padding-top: 2%;
    margin-bottom: 2%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: #FFFFFF;
    border-top: 1px solid #545454;
}