@media screen and (max-width:768px) {
    .edit-profile{
        top: 300px;
        bottom: auto;
        width: 50%;
    }

    .new-place{
        top: 300px;
        bottom: auto;
        width: 50%;
    }

}