@media screen and (max-width:768px) {
    .profile__edit-form-container_hidden{
        top: 300px;
        bottom: auto;
        width: 50%;
    }

    .profile__new-place-form-container_hidden{
        top: 300px;
        bottom: auto;
        width: 50%;
    }

}