.popup__button:hover{
    background: rgba(0, 0, 0, 0.8);
}

.popup__button_disabled{
    opacity: 0.2;
    border: 1px solid #000000;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
}

.popup__input_type_error{
    border-bottom: 1px solid #FF0000;
}

.popup__error{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin: 0;
    display: none;
}

.popup__error_visible{
    display: block;
}