/* import vendor at-rules*/
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);


.root{
    max-width: 1280px;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    margin: auto;
    margin-top: 3.52%;
    margin-bottom: 3.13%;
    width: 68.8%;
    border-bottom: 1px solid #545454;
}

.header__logo{
    align-self: center;
    margin: 0;
    margin-bottom: 4.7%;
}

.profile{
    margin: auto;
    display: flex;
    width: 68.8%;
    height: 120px;
    outline: 2px solid white;
}